body {
    font-size: 100vw;
    height: 100%;
}

p {
    font-size: calc(20px + 1.5vw);
}

h2 {
    font-size: 4vmax;
}

article {
    font-size: calc(3px + 1.1vw);
    padding: 28px 30px 5px 23px;
}

.left-article {
    width: 25%;
    float: left;
}

.right-article {
    width: 65%;
    float: left;
}

.article-meta-data {
    position: fixed;
    width: 26%;
    overflow-y: scroll;
    height: 86vh;
    padding: 28px 17px 5px 0px;
}

/* floating button  */

body {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    margin-top: 100px;
}

.add-button {
    position: absolute;
    right: 0px;
    left: 71px;
    bottom: -28px;
    width: 56px;
    height: 56px;
    overflow: visible;
    -webkit-transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46), color 0s ease .4s, font-size .2s;
    -moz-transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46), color 0s ease .4s, font-size .2s;
    transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46), color 0s ease .4s, font-size .2s;
    text-align: center;
    line-height: 56px;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}

.add-button:before {
    position: relative;
    z-index: 100;
    content: "+";
}

.add-button:hover {
    color: rgba(255, 255, 255, 0);
    transform: rotate(45deg);
}

.sub-button {
    position: absolute;
    display: inline-block;
    background-color: #ff4081;
    color: rgba(255, 255, 255, 0);
    width: 28px;
    height: 28px;
    line-height: 48px;
    font-family: "FontAwesome";
    font-size: 12px;
    -webkit-transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, transform .1s ease 0s, border-radius .2s ease .2s;
    -moz-transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, transform .1s ease 0s, border-radius .2s ease .2s;
    transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, transform .1s ease 0s, border-radius .2s ease .2s;
}

.tl {
    top: 0;
    left: 0;
    border-radius: 28px 0 0 0;
}

.tr {
    top: 0;
    right: 0;
    border-radius: 0 28px 0 0;
}

.bl {
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 28px;
}

.br {
    bottom: 0;
    right: 0;
    border-radius: 0 0 28px 0;
}

.tl:before {
    content: "\E87C";
}

.tr:before {
    content: "";
}

.bl:before {
    content: "";
}

.br:before {
    content: "";
}

.add-button:hover .sub-button {
    width: 48px;
    height: 48px;
    transform: rotate(-45deg);
    color: rgba(255, 255, 255, 1);
    -webkit-transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, color .3s ease .8s, transform .3s ease .8s, border-radius .4s ease .6s;
    -moz-transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, color .3s ease .8s, transform .3s ease .8s, border-radius .4s ease .6s;
    transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, color .3s ease .8s, transform .3s ease .8s, border-radius .4s ease .6s;
}

.add-button:hover .tl {
    top: -25px;
    left: -25px;
    border-radius: 28px;
}

.add-button:hover .tr {
    top: -25px;
    right: -25px;
    border-radius: 28px;
}

.add-button:hover .bl {
    bottom: -25px;
    left: -25px;
    border-radius: 28px;
}

.add-button:hover .br {
    bottom: -25px;
    right: -25px;
    border-radius: 28px;
}

/* 
    transform: translate3d(-17.47px, -15.64px, 0px) scale(0.3, 0.3);
    width: 36px;
    height: 36px;
    border-radius: 36px; */